.ant-table {
    padding: 0;
}

.ant-table-tbody tr {
    transition: 400ms;
    border-bottom: 1px solid rgba(32, 20, 41, 0.08);
    font-weight: 700;
    font-size: 14px;
    color: var(--theme-dark);
}

.ant-table-tbody>tr.ant-table-row:hover>td,
.ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background-color: var(--theme-orange-08);
}

.ant-modal-content {
    border-radius: 20px;
    overflow: auto;
    margin-top: 50px;
}

/* This width should not improved on global class */
/* .ant-select.ant-select-in-form-item {
    width: 100% !important;
} */
.ant-input,
.ant-picker,
.ant-select-selector {
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding-block: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
    height: 40px !important;

}

.ant-select-selector {
    border-radius: 4px;
}

.ant-picker {
    width: 100%;
}

/* Overridding default css of antd components */
.ant-switch-checked,
.ant-radio-inner::after {
    background: var(--theme-orange) !important;
}

.ant-radio-checked .ant-radio-inner {
    border-color: var(--theme-orange) !important;
}

/* .ant-input:hover,
.ant-picker:hover,
.ant-select-selector:hover {
    border-color: var(--theme-orange) !important;
} */

.ant-input:focus,
.ant-picker:hover,
.ant-select-selector:hover {
    box-shadow: none;
    border-color: var(--theme-orange) !important;
}

/*  */
.ant-form-item-label {
    padding: 0 !important;
}

.ant-form-item-label>label {
    height: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 4px;
    color: var(--theme-dark-2);
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
    content: "";
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}

.ant-table-column-title {
    flex: 0
}

.ant-table-column-sorters {
    justify-content: flex-start;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
    color: #bfbfbf;
}

.ant-pagination-item {
    border: none;
    font-weight: 600;
}

.ant-pagination-item-active {
    border-radius: 4px;
    color: var(--theme-orange);
    background: var(--rgba-primary-1);
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    border: none;
    font-weight: 600;
}

.dropdown-item.active,
.dropdown-item:active {
    text-decoration: none;
    color: var(--theme-orange);
    background: var(--rgba-primary-1) !important;
}

.ant-upload-list-item {
    border: 1px solid #DFD6E5;
    border-radius: 8px;
    padding: 8px 16px;
    height: 60px;
    color: var(--theme-dark);
    font-weight: 600;
}

.ant-upload-list-item-card-actions .anticon {
    font-weight: 600;
    font-size: 24px;
    color: var(--theme-orange);

}

.ant-upload-list-item-card-actions-btn {
    opacity: 1;
}

.ant-upload.ant-upload-drag {
    background-color: transparent;
}

.ant-dropdown-menu-item-active {}

/***********************/

.ant-btn-circle {
    padding: 0 2px;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
    color: var(--theme-orange);
    background: var(--rgba-primary-1);
}

/**** Black round cross button */
.sach-modal .ant-modal-close-x {
    position: absolute;
    top: 25px;
    right: 15px;
    border: 1px solid #DFD6E5;
    border-radius: 100px;
    cursor: pointer;
    transition: 400ms;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sach-modal .ant-modal-close-x:hover {
    background-color: #000;
    box-shadow: 0 0 0 2px var(--border-color);
    color: #fff;
}

/**** Black round cross button */

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--theme-orange);
    border-color: var(--theme-orange);
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: var(--theme-orange);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: var(--theme-orange);
}